{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Expense Parser{% endblock %}

{% block content %}
<div class="content m-5">
    <h1 class="heading mx-auto text-center pb-5">Expense Parser</h1>
    <div class="col-md-6 mx-auto bg-light p-3">

        <h3 class="">Upload an Expenses File</h3>
        <p class="">Example: 202408-MealAllowances.pdf</p>
        <div class="">{{ render_form(upload_form, novalidate=True) }}</div>
        <h3 class="pt-5">Search a previously uploaded file</h3>
        <div class="">{{ render_form(search_form, novalidate=True) }}</div>


    </div>
</div>
{% endblock %}