{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Expense Parser{% endblock %}

{% block content %}
<div class="content">
    <h1 class="heading mx-auto text-center">Expense Parser</h1>
    <div class="mx-auto">
        <p class="description mx-auto text-center">Pairing Expenses Parser for YYYY MM</p>

        {% if form %}
        <div class="col-md-6 mx-auto">{{ render_form(form, novalidate=True) }}</div>

        {% if data %}
        <div class="mx-auto w-50 p-10">
            <p>Canada</p>
            <p>Breakfast: {{ data['Canada']['breakfast'] }}</p>
            <p>Lunch: {{ data['Canada']['lunch'] }}</p>
            <p>Dinner: {{ data['Canada']['dinner'] }}</p>
            <p>Snack: {{ data['Canada']['snack'] }}</p>
            <p>-------------------------</p>
            <p>Total: {{ data['Canada']['total'] }}</p>
        </div>
        {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}